name: Docker Image CI

on:
  workflow_dispatch:
  push:
    branches: [ "develop" ]
    
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to ProductiveOps Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.DOCKERREGISTRY_USERNAME }}
          password: ${{ secrets.DOCKERREGISTRY_PASSWORD }}
      - name: UI Config
        working-directory: frontend
        run: |
          touch .env.local
          echo "NEXT_PUBLIC_URL=https://app.kwikdeploy.com" >> .env.local
          echo "NEXTAUTH_URL=https://app.kwikdeploy.com" >> .env.local
          echo "NEXTAUTH_SECRET=${{ secrets.NEXTAUTH_SECRET }}"  >> .env.local
      - name: Build and Push UI
        uses: docker/build-push-action@v5
        with:
          context: "{{defaultContext}}:frontend"
          file: Dockerfile
          push: true
          tags: ghcr.io/kwikdeploy/ui:dev
      - name: Build and Push API
        uses: docker/build-push-action@v5
        with:
          context: "{{defaultContext}}:backend/src"
          file: Api/Dockerfile
          push: true
          tags: ghcr.io/kwikdeploy/api:dev
